@font-face {
    font-family: 'roboto-google';
    src: url(Roboto-Regular.ttf) format('truetype');
}

:root {
    --dashboard-size: 18px;
    --main-size: 1rem;
    --icon-size: 18px;
    --gray-color: #f1f5f9;
    --shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.12);
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto-google', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 180px 1fr;
}

.dashboard {
    background-color: #0ea5e9;
    grid-row: 1/ 3;
    display: grid;
    color: white;
    font-size: var(--dashboard-size);
    font-weight: 600;
    grid-template-rows: repeat(3, min-content);
    padding: 16px;
    gap: 50px;
}

.dashboard .group2,
.group3 {
    display: grid;
    gap: 16px;
}

.group2 span,
.group3 span {
    display: flex;
    gap: 16px;
    align-items: center;
}

.group2 .svg,
.group3 .svg {
    height: var(--dashboard-size);
}

.group1 {
    display: flex;
    gap: 16px;
    font-size: 28px;
    align-items: center;
}

.group1 .svg {
    height: 28px;
}


.svg {
    filter: invert(1);
}

.main {
    background-color: var(--gray-color);
}

/* Header pard */

header {
    padding: 20px 48px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    gap: 22px;
    z-index: 1;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.12);
}

.search {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.search label,
.header img {
    height: 22px;
    cursor: pointer;
}

.search input {
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--gray-color);
    outline: none;
    padding: 4px 12px;
    box-sizing: border-box;
    flex: 1;
}

.profile-pic {
    height: 48px;

}

.bell {
    padding-right: 12px;
    justify-self: end;
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 24px;
}

.profile-pic img {
    border-radius: 50%;
    height: 100%;
}

.bigger-profile {
    display: flex;
    align-items: center;
    gap: 18px;
}

.bigger-profile .profile-pic {
    height: 64px;
}

.bigger-profile .message {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 0.8rem;
}

.message span:nth-child(2) {
    font-size: 1.4rem;
}

.some-buttons {
    display: grid;
    gap: 18px;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(74px, 120px));
}

.some-buttons button {
    color: white;
    font-weight: bolder;
    font-size: 0.9rem;
    background-color: #0ea5e9;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
}

/* part of the main */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 24px;
}

.card {
    background-color: white;
    height: 220px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.card .yellow {
    width: 8px;
    background-color: #fbbf24;
}

.card .content {
    flex: 1;
    padding: 34px 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card .content .icons {
    align-self: flex-end;
    display: flex;
    gap: 24px;
}

.card .text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.text span:nth-child(1) {
    font-weight: bolder;
    font-size: 1.1rem;
}

.text span:nth-child(2) {
    color: #475569;
}

.card .icons img {
    height: 22px;
    cursor: pointer;
    filter: invert(0.2);
}

.card .icons img:hover {
    filter: invert(0);
}

.your-projects>span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 12px;
}

/* Announcements part */

main {
    padding: 20px;
    padding-top: 32px;
    display: grid;
    gap: 22px;
    grid-template-columns: 4fr 1.5fr;
}

.second-part>span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 12px;
}

.announcements-box,
.trending-box {
    background-color: white;
    min-height: 400px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: var(--shadow);
}